{% extends 'layouts/default.htm.twig' %}
{% block content %}
    Страница не найдена
{% endblock %}
{% block content %}
    <div class="not-found">
        <h2>404</h2>
        <span>Not Found</span>
    </div>
{% endblock %}