{% extends "layouts/default.htm.twig" %}
{% block title %} Главная страница {% endblock %}

{% block content %}
{% if tasks %}

    {% for task in tasks %}

        {{ task.username }}
        {{ task.text }}

    {% endfor %}

    {% else %}

    <h2>Список пуст</h2>

{% endif %}

{% endblock content %}